/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

input:focus,
select:focus,
select:active,
button:focus {
    outline: none;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;


/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@responsive {
    .flex-order-1 { order: 1; }
    .flex-order-2 { order: 2; }
    .flex-order-3 { order: 3; }
    .flex-order-4 { order: 4; }
    .flex-order-5 { order: 5; }
    .flex-order-6 { order: 6; }
}

[v-cloak] {
    display: none;
}

a {
    @apply no-underline;
}

/**
 * Главная страница
 */
.heading-bg-text {
    background-image: url(/images/main-page/heading-text-min.png);
    @apply bg-no-repeat bg-contain bg-center;
}

.main-page-upper-part {
    height: 300px;
    background-image: url(/images/main-page/main-page-upper-bg-min.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

@media (min-width: 576px) {
  .main-page-upper-part {
    height: 415px;
  }
}

@media (min-width: 768px) {
  .main-page-upper-part {
    height: 400px;
    background-image: url(/images/main-page/main-page-upper-bg-medium-min.png);
    background-size: 100% 132%;
  }
}


@media (min-width: 992px) {
  .main-page-upper-part {
    height: 500px;
    background-image: url(/images/main-page/main-page-upper-bg-big-min.png);
    background-size: 100% 129%;
  }
}

@media (min-width: 1200px) {
  .main-page-upper-part {
    height: 600px;
    background-image: url(/images/main-page/main-page-upper-bg-xl-min.png);
    background-size: 145% 129%;
  }
}

/**
 * Пляжный отдых
 */
.main-search-input::placeholder {
    @apply text-xl text-grey-darker font-bold;
}

@media (min-width: 992px) {
  .rest-centers-page-upper-part {
    height: 350px;
    background-image: url(/images/upper-bg-lg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 101% 180%;
  }
}

@media (min-width: 1200px) {
  .rest-centers-page-upper-part {
    height: 400px;
    background-image: url(/images/upper-bg-xl.png);
    background-size: 100% 134%;
  }
}

@media (min-width: 992px) {
    .bg-beach-decoraions-left {
        height: 100%;
        width: 14%;
        background-image: url(/images/left-beach-decorations.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 78%;
    }
}

@media (min-width: 992px) {
    .bg-beach-decoraions-right {
        height: 100%;
        width: 14%;
        background-image: url(/images/right-beach-decorations.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 78%;
    }
}

@media (min-width: 992px) {
    .bg-beach-decorations-umbrella {
        height: 300px;
        width: 334px;
        right: -170px;
        background-image: url(/images/umbrella.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 86%;
        z-index: 50;
        top: 236px;
    }
}


@media (min-width: 1200px) {
    .bg-beach-decoraions-left {
        background-size: 73%;
    }
}

@media (min-width: 1200px) {
    .bg-beach-decoraions-right {
        background-size: 73%;
    }
}

@media (min-width: 1200px) {
    .bg-beach-decorations-umbrella {
        height: 400px;
        width: 400px;
        right: -170px;
        background-size: 100%;
        top: 281px;
    }
}

