/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

input:focus,
button:focus {
    outline: none;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;


/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/**
 * Main page
 */
.heading-bg-text {
    background-image: url(/images/heading-text-min.png);
    @apply bg-no-repeat bg-contain bg-center;
}

.main-page-upper-part {
    height: 300px;
    background-image: url(/images/main-page-upper-bg-min.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

@media (min-width: 576px) {
  .main-page-upper-part {
    height: 415px;
    background-size: 100% 100%;
  }
}

@media (min-width: 768px) {
  .main-page-upper-part {
    height: 400px;
    background-image: url(/images/main-page-upper-bg-medium-min.png);
    background-size: 100% 132%;
  }
}


@media (min-width: 992px) {
  .main-page-upper-part {
    height: 500px;
    background-image: url(/images/main-page-upper-bg-big-min.png);
    background-size: 100% 129%;
  }
}

@media (min-width: 1200px) {
  .main-page-upper-part {
    height: 600px;
    background-image: url(/images/main-page-upper-bg-xl-min.png);
    background-size: 145% 129%;
  }
}
