/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

input:focus,
select:focus,
select:active,
button:focus {
    outline: none;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;


/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */


.pin-center {
    bottom: 50%;
    transform: translateY(55%);
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@responsive {
    .flex-order-1 { order: 1; }
    .flex-order-2 { order: 2; }
    .flex-order-3 { order: 3; }
    .flex-order-4 { order: 4; }
    .flex-order-5 { order: 5; }
    .flex-order-6 { order: 6; }
}

@font-face {
    font-family: 'Hortensia';
    src: url('/fonts/Hortensia.ttf');
}

.font-hortensia {
    font-family: Hortensia;
}



@media (min-width: 992px) {
    .lg\:-rotate-90 {
        transform: rotate(-90deg);
    }

    .lg\:write-bottom-to-top {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
}

[v-cloak] {
    display: none;
}

a {
    @apply no-underline;
}

.styled-checkbox input[type="checkbox"]:checked + label svg,
.styled-radio-button input[type="radio"]:checked + label svg {
    display: block !important;
}

.styled-select {
    background-image: url(/images/icons/down-arrow.svg);
    background-size: 2rem 1rem;
    @apply bg-right bg-no-repeat appearance-none;
}

.zoom { transition: transform .2s; }
.zoom:hover { transform: scale(1.1); }

/**
 * Главная страница
 */
.heading-bg-text {
    background-image: url(/images/main-page/heading-text-min.png);
    @apply bg-no-repeat bg-contain bg-center;
}

.main-page-upper-part {
    height: 330px;
    background-image: url(/images/main-page/main-page-upper-bg-min.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

@media (min-width: 420px) {
  .main-page-upper-part {
    height: 430px;
  }
}

@media (min-width: 530px) {
  .main-page-upper-part {
    height: 506px;
  }
}

@media (min-width: 730px) {
  .main-page-upper-part {
    background-image: url(/images/main-page/main-page-upper-bg-medium-min.png);
    background-size: 100% 132%;
  }
}

@media (min-width: 992px) {
  .main-page-upper-part {
    height: 500px;
    background-image: url(/images/main-page/main-page-upper-bg-big-min.png);
    background-size: 100% 129%;
  }
}

@media (min-width: 1200px) {
  .main-page-upper-part {
    height: 600px;
    background-image: url(/images/main-page/main-page-upper-bg-xl-min.png);
    background-size: 173% 129%;
  }
}

@media (min-width: 1400px) {
  .main-page-upper-part {
    background-size: 148% 129%;
  }
}

/**
 * Пляжный отдых
 */

.main-search-input::placeholder {
    @apply text-xl text-grey-darker font-bold;
}

@media (min-width: 992px) {
  .rest-centers-page-upper-part {
    height: 350px;
    background-image: url(/images/upper-bg-lg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 101% 180%;
  }
}

@media (min-width: 1200px) {
  .rest-centers-page-upper-part {
    height: 400px;
    background-image: url(/images/upper-bg-xl.png);
    background-size: 100% 134%;
  }
}

@media (min-width: 992px) {
    .bg-beach-decoraions-left {
        height: 100%;
        width: 14%;
        background-image: url(/images/left-beach-decorations.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 78%;
    }
}

@media (min-width: 992px) {
    .bg-beach-decoraions-right {
        height: 100%;
        width: 14%;
        background-image: url(/images/right-beach-decorations.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 78%;
    }
}

@media (min-width: 992px) {
    .bg-beach-decorations-umbrella {
        height: 300px;
        width: 334px;
        right: -170px;
        background-image: url(/images/umbrella.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 86%;
        z-index: 50;
        top: 236px;
    }
}


@media (min-width: 1200px) {
    .bg-beach-decoraions-left {
        background-size: 73%;
    }
}

@media (min-width: 1200px) {
    .bg-beach-decoraions-right {
        background-size: 73%;
    }
}

@media (min-width: 1200px) {
    .bg-beach-decorations-umbrella {
        height: 400px;
        width: 400px;
        right: -185px;
        background-size: 84%;
        top: 281px;
    }
}

@media (min-width: 1400px) {
    .bg-beach-decorations-umbrella {
        background-size: 100%;
    }
}

/**
 * Медицинский туризм
 */

@media (min-width: 992px) {
    .medical-centers-decorations-left {
        height: 100%;
        width: 26%;
        background-image: url(/images/medical-centers/decorations-left.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-left: -135px !important;
    }
}

@media (min-width: 992px) {
    .medical-centers-decorations-right {
        height: 100%;
        width: 26%;
        background-image: url(/images/medical-centers/decorations-right.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-right: -126px;
    }
}

@media (min-width: 1200px) {
    .medical-centers-decorations-left {
        background-size: 52%;
        margin-left: -85px !important;
    }
}

@media (min-width: 1200px) {
    .medical-centers-decorations-right {
        background-size: 52%;
        margin-right: -89px;
    }
}

@media (min-width: 1400px) {
    .medical-centers-decorations-left {
        background-size: 53%;
        background-position-x: right;
        margin-left: -136px !important;
    }
}

@media (min-width: 1400px) {
    .medical-centers-decorations-right {
        background-size: 52%;
        background-position-x: left;
        margin-right: -136px !important;
    }
}

/**
 * Детский отдых
 */

@media (min-width: 992px) {
    .kid-camps-decorations-left {
        height: 100%;
        width: 26%;
        background-image: url(/images/kid-camps/decoration-left-big-min.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-left: -135px !important;
    }
}

@media (min-width: 992px) {
    .kid-camps-decoraions-right {
        height: 100%;
        width: 26%;
        background-image: url(/images/kid-camps/decoration-right-big-min.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-right: -126px;
    }
}

@media (min-width: 1200px) {
    .kid-camps-decorations-left {
        background-size: 52%;
        margin-left: -85px !important;
    }
}

@media (min-width: 1200px) {
    .kid-camps-decoraions-right {
        background-size: 52%;
        margin-right: -89px;
    }
}

@media (min-width: 1400px) {
    .kid-camps-decorations-left {
        background-size: 53%;
        background-position-x: right;
        margin-left: -136px !important;
    }
}

@media (min-width: 1400px) {
    .kid-camps-decoraions-right {
        background-size: 52%;
        background-position-x: left;
        margin-right: -136px !important;
    }
}

/**
 * Активный отдых
 */

@media (min-width: 992px) {
    .active-rest-decorations-left {
        height: 100%;
        width: 23%;
        background-image: url(/images/active-rest/decoration-left-min.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-left: -84px !important;
    }
}

@media (min-width: 992px) {
    .active-rest-decorations-right {
        height: 100%;
        width: 56%;
        background-image: url(/images/active-rest/decoration-right-min.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-right: -377px;
    }
}

@media (min-width: 1200px) {
    .active-rest-decorations-left {
        background-size: 52%;
        margin-left: -85px !important;
    }
}

@media (min-width: 1200px) {
    .active-rest-decorations-right {
        background-size: 64%;
        margin-right: -380px;
    }
}

@media (min-width: 1400px) {
    .active-rest-decorations-left {
        background-size: 55%;
        background-position-x: right;
        margin-left: -99px !important;
    }
}

@media (min-width: 1400px) {
    .active-rest-decorations-right {
        background-size: 52%;
        background-position-x: left;
        margin-right: -534px !important;
    }
}

/**
 * Рыбалка и охота
 */

@media (min-width: 992px) {
    .hunting-companies-decorations-left {
        height: 100%;
        width: 23%;
        background-image: url(/images/hunting-companies/decoration-left.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-left: -84px !important;
    }
}

@media (min-width: 992px) {
    .hunting-companies-decorations-right {
        height: 100%;
        width: 30%;
        background-image: url(/images/hunting-companies/decoration-right.png);
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: 100%;
        margin-right: -146px;
    }
}

@media (min-width: 1200px) {
    .hunting-companies-decorations-left {
        background-size: 52%;
        margin-left: -85px !important;
    }
}

@media (min-width: 1200px) {
    .hunting-companies-decorations-right {
        background-size: 64%;
        margin-right: -135px;
    }
}

@media (min-width: 1400px) {
    .hunting-companies-decorations-left {
        background-size: 55%;
        background-position-x: right;
        margin-left: -99px !important;
    }
}

@media (min-width: 1400px) {
    .hunting-companies-decorations-right {
        background-size: 52%;
        background-position-x: left;
        margin-right: -134px !important;
    }
}
